body{
    background-color: bisque;
    text-decoration: solid;
}
h1{
    color: #00ABB3;
}
form{
    color: #B1AFFF;
}
textarea{
    background-color: #B8E8FC ;
}
input{
    background-color: #B1AFFF;
}